<div class="card-left">



    <div class="menu">
        <div class="menu-icon">
            <img src="../../../assets/img/icon.png" alt="Menu Icon">
        </div>


        <div class="text-menu">
            <h2>MENU</h2>
        </div>
    </div>


    <div class="logo">
        <div class="photo-logo">
            <img src="../../../assets/img/ygg.png" alt="">

        </div>

        <div class="text-logo">
            <h1>JoaoR</h1>

        </div>
    </div>

    <div class="social-login">

        <div class="list-social-login">
            <ul class="list">
                <li><a href="">
                        <img src="../../../assets/img/face.png" alt="">
                    </a></li>
                <li><a href="">
                        <img src="../../../assets/img/insta.png" alt="">
                    </a></li>
                <li><a href="">
                        <img src="../../../assets/img/twi.png" alt="">
                    </a></li>
            </ul>
        </div>

    </div>


</div>