.container {

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D0D5DD;






    .card {
        -webkit-box-shadow: 0px 0px 46px 12px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 46px 12px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 46px 12px rgba(0, 0, 0, 0.75);
        max-width: 1350px;
        width: 100%;
        display: flex;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.75);

        .card-left {
            margin-right: 240px;
            width: 100%;

        }

        .card-right {
            margin-top: auto;
            margin-bottom: auto;
            width: 100%;
        }

    }
}